
:root {
    --home-blue:  rgb(0, 242, 255);

    --home-white: rgb(228, 230, 235);
    --home-whiteBlack: rgb(156, 158, 163);
    --home-trueWhite: rgb(255, 255, 255);
  
    --home-black: rgb(5, 5, 5);
    --home-blackGithub: rgb(13, 17, 23);
    --home-black--: rgb(10, 22, 26);
    --home-trueBlack: rgb(0, 0, 0);
  
    --home-red: rgb(253, 0, 0);
    --home-yellow: rgb(253, 169, 0);

  
    --home-fontLightmode: 25px;
}
/* _______________________ [Chung] __________ */
.light-mode ._first,
.light-mode ._second,
.light-mode ._third {
    background-color: var(--home-white);
    color: var(--trueBlack);
}


.main {
    position: relative;
    border-bottom: 2px solid var(--home-yellow);
    background-color: var(--home-blackGithub);
    color: var(--home-trueWhite);
}
.light-mode .main {
    border-bottom: 2px solid var(--home-trueBlack);
}

/* _______________________ [Page 1] __________ */
._first {
    height: 100vh;
    margin-top: 58px;
}

.title {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: bold;
}

.avt {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 4px solid var(--home-yellow);
}
.light-mode .avt {
    border: 4px double var(--home-blue);
}

.ul-page1 {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.li-page1 {
    margin: 0;
}
.li-page1:nth-child(1),
.li-page1:nth-child(2),
.li-page1:nth-child(3) {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid var(--home-trueWhite);
}
.light-mode .li-page1:nth-child(1),
.light-mode .li-page1:nth-child(2),
.light-mode .li-page1:nth-child(3) {
    border-right: 1px solid var(--home-trueBlack);
}
.li-page1:nth-child(4) {
    padding-left: 10px;
}

.div-donate {
    width: 150px;
    height: 68px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--home-yellow);
}
.div-donate:hover {
    /* background-image: linear-gradient(45deg, #d700e8 0%, #01dafa 100%); */
    background-image: linear-gradient(24deg, #43366b 10%, #ffffff 82%);
}
.light-mode .div-donate {
    border: 1px solid var(--home-black);
    background-color: var(--home-white);
}
.light-mode .div-donate:hover {
    background-image: linear-gradient(0deg, #7950f2 5%, #f783ac 95%);
}

.link-donate {
    font-size: 20px;
    text-decoration: none;
    color: var(--home-yellow);
}
.light-mode .link-donate {
    color: var(--home-trueBlack);
}
/* _______________________ [Page 2] __________ */
._second {
    height: 92vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    color: var(--home-trueWhite);

    position: relative;
}
.title-page2 {
    margin-bottom: 0;
}
.game {
    width: 90vw;
    list-style: none;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
    padding-bottom: 20px;
}
  
.moregames {
    position: relative;
}
.ds-game{}
  
.games {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.games:hover {
    transition: transform 0.5s ease;
    transform: translateY(-20px);
    box-shadow: 0 0 10px rgb(12, 157, 145), 0 0 20px rgba(255, 48, 48, 0.792);
}
.div-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    margin: 10px;
    position: relative;

}
.nameGame {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 0;
}
.dicrip-game {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
}
.dicrip-game,
.nameGame  {
    text-align: center;
}
.div-chitiet {
    padding: 7px;
    position: absolute;
    bottom: 0;
    color: var(--home-yellow);
    border: 1px solid var(--home-yellow);

    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.div-chitiet:hover{
    background-image: linear-gradient(45deg, #d700e8 0%, #01dafa 100%);
    transition: transform 0.5s ease;
    transform: scale(1.1);
}
.light-mode .div-chitiet {
    border: 1px solid var(--home-trueBlack);
}
.light-mode .link-chitiet {
    color: var(--home-trueBlack);
}
.link-chitiet {
    text-decoration: none;
    color: var(--home-yellow);
}


/* _______________________ [Page 3] __________ */
._third {
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--black); */
    color: var(--home-trueWhite);
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-page3 {
    width: 30vw;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    
}
.title-page3_ {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thong-tin-khac {
    margin-bottom: 0;
}

.ul-page3 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.li-page3 {

    cursor: pointer;

    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
li.li-page3:nth-child(2), 
li.li-page3:nth-child(3), 
li.li-page3:nth-child(4) {
    margin-left: 10px;
}
.li-page3:hover {
    font-weight: bold;
    color: var(--home-yellow);
    /* border-top: 1px solid var(--home-blue); */
    /* border-bottom: 1px solid var(--home-blue); */
    /* border-radius: 10px; */
}
.light-mode .li-page3:hover {
    color: var(--home-red);
    /* border-top: 1px solid var(--home-black); */
    /* border-bottom: 1px solid var(--home-black); */
}

.li-page3::after {
    width: 300px;
    height: 80px;
    display: none;
    z-index: 89;


}
.li-page3:nth-child(1)::after {
    content: "Dịch vụ chúng tôi mang đến sẽ cực kì uy tín với khách hàng!";
}
.li-page3:nth-child(2)::after {
    content: "Thông tin của khách hàng và sản phẩm luôn được bảo mật tốt nhất!";
}
.li-page3:nth-child(3)::after {
    content: "Đảm bảo chất lượng dịch vụ an toàn, không có sử dụng hoặc can thiệp từ bên thứ ba!";
}
.li-page3:nth-child(4)::after {
    content: "Quá trình xử lí công việc diễn ra nhanh gọn, không phải để khách hàng chờ.";
}


li.li-page3:hover::after {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--home-black);
    border: 1px solid var(--home-trueWhite);
    
    position: fixed;
    right: 56px;
    bottom: 70px;
}
.light-mode li.li-page3:hover::after {
    background-color: var(--home-trueWhite);
    border: 1px solid var(--home-trueBlack);
}

.div-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-admin {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--home-yellow);
}
.light-mode .img-admin {
    border: 2px solid var(--home-blue);
}
.nameAdmin {
    margin-bottom: 5px;
}

.contact-page3 {
    margin: 10px;
}
.contact-page3:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2);
}
.img-contact {
    width: 50px;
    border-radius: 10px;
    height: 50px;
}

.coutn {
    margin-bottom: 0px;
}

.author-link {
    text-decoration: none;
    color: var(--home-blue);
}
.author-link:hover {
    color: var(--home-yellow);
    font-weight: bold;
}
.light-mode .author-link:hover {
    color: var(--home-red);
    font-weight: bold;
}
.light-mode .author-link {
    font-weight: bold;
    color: var(--home-black);
}
/* __________________________________[ Responsive ]____________ */
@media (min-width: 1199px) {
    /* _____________Page: 3 */
    .div-admin {
        border: 1px solid var(--home-yellow);
    }
    .light-mode .div-admin {
        border: 1px solid var(--home-black);
    }
}
@media (min-width: 1440px) {
    /* _____________Page: 2 */
    .div-donate_ {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
@media (min-width: 1199px) {
    /* _____________Page: 3 */
    /* .div-admin,
    .light-mode .div-admin {
        border: unset;
    } */
}
@media (max-width: 1024px) {
        /* _____________Page: 2 */
    ._second {
        height: unset;
    }
    /* _____________Page: 3 */
    .div-page3 {
        width: 43vw;
    }
    .li-page3 {
        /* padding: 0px 10px; */
    }


}

@media (max-width: 769px) {
    /* _____________Page: 1 */
    .title {
        text-align: center;
        font-size: 28px;
    }
    /* _____________Page: 3 */
    .div-page3 {
        width: 450px;
    }
    ._third {
        height: 93vh;
    }
    .div-page3 {
        width: 100vw;
        margin: 0;
    }

    .li-page3 {
        text-align: center;
        padding: 0;
    }
    li.li-page3:nth-child(1),
    li.li-page3:nth-child(2),
    li.li-page3:nth-child(3) {
        margin-right: 10px;
    }
    .li-page3::after {
        width: 250px;
        height: 80px;
        display: none;
    
    }

    .title-page3_ {
        width: 80vw;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3px;
        margin-bottom: 7px;
        border-top: 1px solid var(--home-yellow);
    }
}
@media (max-width: 426px) {
    /* _____________Page: 1 */
    .title {
        font-size: 20px;
    }
    .ul-page1 {
        font-size: 14px;
    }
    .div-donate {
        height: 30px;
    }

    /* _____________Page: 2 */
    ._second {
        height: unset;
    }
    .title-page2 {
        position: absolute;
        top: 0px;
        margin-top: 0;
    }
    .div-games {
        justify-content: unset;
        height: 320px;
        margin-top: 30px;
    }
    li:nth-child(1) .div-games,
    li:nth-child(2) .div-games,
    li:nth-child(3) .div-games {
        border-bottom: 1px solid var(--home-yellow);
    }

    .games {
        width: 120px;
        height: 120px;
    }
    .nameGame {
        font-size: 18px;
        margin-top: 10px;
    }
    .dicrip-game {
        margin-bottom: 0px;
    }
    .div-chitiet {
        margin-bottom: 30px;
    }
    .div-donate_ {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* _____________Page: 3 */
    .title {
        font-size: 30px;
    }

}
@media (max-width: 321px) {
    /* _____________Page: 1 */
    .title.well-come {
        padding-left: 7px;
        padding-right: 7px;
    }
    /* _____________Page: 2 */
    /* _____________Page: 3 */
    .title-page3_ {
        margin-top: 10px;
    }
    .ul-page3 {
        margin: 0;
    }
    li.li-page3:hover::after {
        position: fixed;
        right: 35px;
        bottom: 70px;
    }
    .img-contact {
        width: 40px;
        height: 40px;
    }

  }

