/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(0,0,0);
  --white: rgb(242, 242, 242);
  --red: rgb(255, 0, 0);
}
.footer {
  height: 54px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

}

.real {
  display: flex;
  justify-content: center;
  width: 80vw;
  font-size: 14px;

  z-index: 20;
}

.coutn {
  margin: 0;
}

@media (max-width: 516px) {
  .real {
    font-size: 12px;
  }
  .copyright {
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .copyright {
    margin-top: 10px;
  }
  .coutn {
    display: none;
  }
}
