/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(27, 30, 33);
  --white: rgb(218, 213, 213);
  --red: rgb(255, 0, 0);
}

/*________________________________________________________________________________ [ Chung ] ____________________*/
body.dark-mode {
  transition: background-color 1s ease-out;
  background-color: var(--black);
  color: var(--white);
}

/*________________________________________________________________________________ [ Index > navbar ] ____________________*/

.navbar.dark-mode {
  background-color: var(--black);
}
.navbar.dark-mode .navbar-header-logo a,
.navbar.dark-mode .list li a {
color: var(--white);
}
.menu-navbar-right.open li a {
color: var(--black);
}
/* Dark mode styles for text */
body.dark-mode .navbar-header-logo a, 
body.dark-mode .list li a, 
body.dark-mode .menu-toggle, 
body.dark-mode .menu-navbar-right.open li a {
  color: var(--white);
}
.dark-mode .navbar-header-logo a:hover{
  color: var(--blue) !important;
}

.dark-mode .list li:nth-child(1):hover::after,
.dark-mode .list li:nth-child(2):hover::after, 
.dark-mode .list li:nth-child(3):hover::after,
.dark-mode .list li:nth-child(4):hover::after,
.dark-mode .list li:nth-child(5):hover::after {
  border-top: 3px solid var(--blue);
  border-left: 3px solid var(--blue);
}

.dark-mode .list li:nth-child(1):hover::before,
.dark-mode .list li:nth-child(2):hover::before, 
.dark-mode .list li:nth-child(3):hover::before,
.dark-mode .list li:nth-child(4):hover::before,
.dark-mode .list li:nth-child(5):hover::before {

  border-bottom: 3px  solid var(--blue);
  border-right: 3px  solid var(--blue);
}

/*________________________________________________________________________________ [ Main ] ____________________*/
.dark-mode .name {
  color: var(--white);
}
.dark-mode .description {
  color: var(--white);
}
.dark-mode .myavt {
  /* transition: transform 0.5s ease; */
  transition: transform 0.5s ease-in-out;  
  border: 7px double var(--blue);
}
.dark-mode .myavt:hover {
  transform: translateY(-20px) scale(1.05); 
}
.dark-mode .name {
  transition: 0.3s all ease;
}
.dark-mode .name:hover {
  text-shadow: var(--red) -2px 0, var(--blue) 2px 0;
}

.dark-mode .svg-div {
  width: 200%; 
}

/*________________________________________________________________________________ [ Footer ] ____________________*/
.dark-mode .real {
  color: var(--black);
}
.dark-mode .navbar-header-logo a:hover {
  color:var(--red);
}

/*________________________________________________________________________________ [ Button ] ____________________*/
.dark-mode section #services li a {
  color: var(--white);
}

.dark-mode .list li a:hover {
  color: var(--blue);
  font-weight: bold;
}
.dark-mode section #services li div:hover {
  /* Zoom in effect */
  transform: scale(1.2);
  border: 1px solid var(--white);
  /* border-radius: 50%; */
}



/*________________________________________________________________________________ [ Actions ] ____________________*/
.dark-mode a {
  color: var(--white);
}
.dark-mode a:hover {
  color:var(--blue);
}

.dark-mode .actions-item:hover {
  border-bottom: 1px solid var(--blue);
}

/*________________________________________________________________________________ [  Wave ] ____________________*/
.dark-mode .svg-div {
  fill: var(--white); 
}

