/*-------------
 	General
-------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font: normal 16pt sans-serif;
	color: #555;
}

body {
	height: 300vh;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}


/*--------------------
 Back to Top Button
---------------------*/
.scrollToTopBtn {
  background-color: rgb(133, 15, 17);
  border: none;
  border-radius: 50%;
  color: rgb(7, 249, 245);
  cursor: pointer;
  font-size: 30px;
  line-height: 48px;
  width: 48px;
	  /* place it at the bottom right corner */
  position: fixed;
  bottom: 70px;
  right: 30px;
	  /* keep it on top of everything else */
  z-index: 100;
	  /* hide with opacity */
  opacity: 0;
	  /* also add a translate effect */
  transform: translateY(100px);
	  /* and a transition */
  transition: all .5s ease
}
    
.showBtn {
  opacity: 1;
  transform: translateY(0)
}


/*----------------
 	Hero Section
----------------*/
.hero{
	display: flex;
	justify-content: center;
	height: 100vh;
	color: #fff;
	text-align: center;
	background-color: #850f11;
}
.hero h1{
	font: bold 50pt 'Open Sans', sans-serif;
	margin-bottom: 15px;
}
.hero h2 {font-size: 30pt;}
.hero h3 {font: normal 20pt 'Open Sans', sans-serif; margin: 1rem auto 0.5rem auto;}

@media screen and (max-width: 800px) {
	.hero h1{
		margin-top: 100px;
		margin-bottom: 80px;
	}
	.header-down-arrow {
		display: none;
	}
}

