/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(0,0,0);
  --white: rgb(242, 242, 242);
  --red: rgb(255, 0, 0);
}
.footer {
  height: 54px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .real {
  display: flex;
  justify-content: center;
  color:#000000;
  font-size: 1vw;
}