/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(0,0,0);
  --white: rgb(255, 255, 255);
  --red: rgb(255, 0, 0);
  --text: rgb(13, 255, 0);
}

/******************header-navbar***************/
.container {
  height: 64px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar styles */
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1229px;
  width: 170vh;
}
.navbar-header-logo a {
  font-size: 24px;
  text-decoration: none;
  color: var(--black);
  margin-left: 14px;
}
  .menu-toggle {
    display: none;
  }
  .menu-navbar-right {
    display: flex;
    align-items: center;
  }
  .list {
    list-style: none;
    margin-right: 20px;
    display: flex;
    padding: 0px;
  }
  .list li {
    margin-left: 10px;
  }

  .list li:nth-child(1),
  .list li:nth-child(2),
  .list li:nth-child(3){
    margin-top: 7px;
  }

  .list li a {
    margin-top: 10px;
    text-decoration: none;
    color: var(--black);
  }

  .list li a:hover, .navbar-header-logo a:hover {
    font-weight: bold;
  }

  /* Responsive styles */
@media (max-width: 475px) {
  .menu-toggle {
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    margin-right: 14px;
  }

  .list li:nth-child(4){
    margin-top: 0 !important;
  }
  .menu-navbar-right {
    display: none;
  }

  .menu-navbar-right.open {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    top: 74px;
    width: 100%;
    background-color: var(--white);
    padding: 0px;
    z-index: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-navbar-right.open li {
    margin: 7px; 
  }

  .menu-navbar-right.open li:first-child {
    margin-top: 10px;
  }

  .menu-navbar-right.open li a {
    font-size: 16px;
    color: var(--black);;
    margin: 10px;
  }
  
  .menu-navbar-right.open li:last-child {
    margin-bottom: 0;
  }

  .navbar {
    position: relative;
  }

  /* Dark mode styles for responsive */
  body.dark-mode .menu-navbar-right.open {
    background-color: var(--black);
  }

  body.dark-mode .menu-navbar-right.open li a {
    color: var(--white);
  }

  .navbar.dark-mode .menu-toggle,
  .navbar.dark-mode .menu-navbar-right {
    color: var(--white);
  }
}


/* ________________________________________________________________________________________________________ */
.toggle-btn {
  position: relative;
  width: 72.5px; /* Giảm 50% kích thước */
  height: 37px; /* Giảm 50% kích thước */
  margin: 0 auto;
  border-radius: 20px; /* Giảm 50% kích thước */
  transform: scale(0.5); /* Giảm 50% kích thước */
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

._1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #000000;
  box-shadow: 0px 1px 12.5px #02e1ff; /* Giảm 50% kích thước */
  border-radius: 20px; /* Giảm 50% kích thước */
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

._1st-toggle-btn span:before,
._1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 4px; /* Giảm 50% kích thước */
  width: 29px; /* Giảm 50% kích thước */
  height: 29px; /* Giảm 50% kích thước */
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

._1st-toggle-btn span:before {
  background-color: #000000;
  transform: translate(-29px, 0px); /* Giảm 50% kích thước */
  z-index: 1;
}

._1st-toggle-btn span:after {
  background-color: #ffffff;
  transform: translate(4px, 0px); /* Giảm 50% kích thước */
  z-index: 0;
}

._1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: #ffffff;
}

._1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

._1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: #ffffff;
  transform: translate(28px, -9.5px); /* Giảm 50% kích thước */
}

._1st-toggle-btn input[type="checkbox"]:checked + span:after {
  /* background-color: #ffffff; */
  background-color: #000000;
  transform: translate(39.5px, 0px); /* Giảm 50% kích thước */
}
