/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(0,0,0);
  --white: rgb(242, 242, 242);
  --red: rgb(255, 0, 0);
}

html {
  font-family: 'Microsoft Jhenghei', 'lanting', Arial;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  max-height: 100vh;
  max-width: 100wh;
  overflow: hidden;
}

::selection {
  background-color: var(--black); /* Màu nền khi bôi đen */
  color:var(--blue); /* Màu chữ khi bôi đen */
}
  
.dark-mode ::selection  {
  background-color: var(--black); /* Màu nền khi bôi đen */
  color: var(--blue); /* Màu chữ khi bôi đen */
}

