.main_left {
    border-right: 10px solid rgb(208, 205, 202);
    margin-right: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avt_content {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(224, 6, 236, 0.35) 0px 5px 15px;
    position: relative;
    cursor: none;

    transition: opacity 0.2s ease-in-out, padding 0.3s ease-in-out;
}

.circle:hover {
    padding: 10px;
}

.tittle_status {
    background-color: rgb(0, 0, 0);
    color: rgb(254, 133, 3);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-100%);
    font-family: 'Poppins', sans-serif;
}

.tittle_status-effect {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s ease-in;
    transition-delay: 0.2s;
}


.circle img {
    width: 157px;
    border-radius: 50%;
    margin: auto;
}

.circle img:hover {
    transform: none;
    transition: all 0.3s ease-in-out;
}

.main_left .descript {
    width: 220px;
    text-align: center;
}

.main_left h1 {
    font-size: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;

}

.main_left h1:hover {
transition: 0.3s ease-in-out;
    text-shadow: 1px 1px 2px rgb(0, 238, 255), 0 0 1em rgb(255, 0, 132), 0 0 0.2em rgb(200, 0, 255);

}

.descript {
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 18px;
    line-height: 20px;
    color: rgb(41, 42, 57);
}
