:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(0,0,0);
  --white: rgb(242, 242, 242);
  --red: rgb(255, 0, 0);
  

  --make: rgb(255, 0, 242);
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('./Poppins/Poppins-Black.ttf') format('truetype'),
}

body {
  font-family: 'MyCustomFont', sans-serif;
}

html {
  font-family: 'Microsoft Jhenghei', 'lanting', Arial;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  overflow: hidden;
  position: relative;

  background-image: url('../image/1028801.jpg');
  background-size: cover;
  backdrop-filter: blur(5px);
}

::selection {
  background-color: var(--black);
  color:var(--blue);
}



