/* Color */
:root {
    --blue:  rgb(0, 242, 255);
    --black: rgb(27, 30, 33);
    --white: rgb(218, 213, 213);
    --red: rgb(186, 42, 42);
  }
  
body {
    margin: 0;
    padding: 0;
    overflow: auto !important;
}

h1, h4, p {
    text-align: center;
}
h1 {
    margin-top: 0px;
}
h4 {
    margin-bottom: 0px;
}
p {
    margin-top: 0px;
}
a { 
    text-decoration: none;
}
/* a style________________________ */
a:hover {
    color:var(--red); /* Khách */
    font-weight: bold;
  }
.dark-mode a:hover {
    color:var(--red); /* Khách */
    font-weight: bold;
  }


.main {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.more-infomations {
    display: block;
    width: 70vw;
}
  
  .hello,
  .name-more,
  .gamelist,
  .anime,
  .fact-content,
  .like-sendu,
  span {
    width: 100%;
  }

 .id-game, .id-name {
    padding-left: 38%;
  }
  /* span {
    padding-left: 20px;
  } */
  @media (max-width: 950px) {
    .id-game, .id-name {
      padding-left: 30%;
    }
  }
  @media (max-width: 730px) {
    .id-game, .id-name {
      padding-left: 25%;
    }
  }
  @media (max-width: 475px) {
    .id-game, .id-name {
      padding-left: 15%;
    }
  }

  .dark-mode a {
    text-decoration: underline;
  }