/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(0,0,0);
  --white: rgb(242, 242, 242);
  --red: rgb(255, 0, 0);
}

html {
  font-family: 'Microsoft Jhenghei', 'lanting', Arial;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  background-image: linear-gradient(45deg, #ed6ea0 0%, #32c8ce 51%, #fb00ff 100%);
  overflow: hidden;
  position: relative;
}

::selection {
  background-color: var(--black);
  color:var(--blue);
}


.container {
  width: 800px;
  height: 530px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.main {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
}


/* __________________________ Left ______________ */
.main_left {
  border-right: 1px solid black;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 157px;
  border-radius: 50%;
}

.main_left .descript {
  width: 220px;
  text-align: center;
}






/* __________________________ right ______________ */
.main_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 20px;
}
.card_information {
  width: 400px;
  height: 350px;
  background-color: rgb(83, 81, 82);
  border-radius: 10px;
  overflow: hidden;
}
.card_top {
  display: flex;

  align-items: center;
  height: 45px;
  background-color: rgb(131, 127, 123);
}
.card_top ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
}

.card_top ul li {
  background-color: #32c8ce;
  --circle: 30px;
  width: var(--circle);
  height: var(--circle);
  border-radius: 50%;
  margin-right: 10px;
}
.card_top ul li:nth-child(1) {
  background-color: #d71b1b;
}
.card_top ul li:nth-child(2) {
  background-color: #3ad71b;
}
.card_top ul li:nth-child(3) {
  background-color: #d7c11b;
}


/* __________________________ Contact ______________ */
.contacts {
  margin-top: 20px;
}
.contacts a ion-icon {
  font-size: 40px;
  margin-right: 10px;
  color: black;
  padding: 5px;
  border-radius: 50%;
}
.contacts a ion-icon:hover {
  color: rgb(204, 47, 105);
}
