/*-------------
 	General
-------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font: normal 16pt sans-serif;
	color: #555;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: url("https://i.pinimg.com/originals/e6/67/2e/e6672ef48c424cb2af72fa9a11216895.jpg");
}

body::after {
	content: '';
	width: 100%;
	display: block;
	height: 100%;

	background-color: rgba(21, 16, 16, 0.523);
}


