/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --black: rgb(27, 30, 33);
  --white: rgb(218, 213, 213);
  --red: rgb(186, 42, 42);
}

body {
  margin: 0;
  padding: 0;
  overflow: auto !important;

}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;

  
}
.actions-link {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
.actions-link:hover {
  color:var(--red);
}

.timeline {
  padding-top:20px;
}
.actions {
  width: 70vw;
  margin: 17px;
  margin-left: 0px;

}
.actions-item {
  padding-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.actions-item:hover {
  border-bottom: 0.2px solid var(--red);
}

.year-timeline {
  margin: 0;
}
.actions-date{
  float: right;
  text-align: right;
}

@media (max-width: 475px) {
  .actions {
    width: 80vw;
    margin-left: 2px;
  }
  .actions-item {
    margin-left: 20px;
    display: inline-block;
    width: 100%;

  }
  .actions-date,
  .actions-link {
    font-size: 13px; 
  }
  .actions-date {
    margin-left: 20px;
  }
}