
/* ____________________________________Messenger____________ */

.divMess {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    margin: 0;
    margin-bottom: 18px;

    z-index: 90;
}

.messager {
    position: relative;

}
.iconPicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    border: 2px solid rgb(251, 156, 3);
}
.light-mode .iconPicture {
    border: 2px solid rgb(3, 251, 251);
}

.ul-mess {
    position: absolute;
    top: -20px;
    right: 60px;
    background-color: rgba(149, 131, 131, 0.555);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 5px;
    border-radius: 8px;
}
/* .divMess::after {
    position: absolute;
    content: "}";
    bottom: -20px;
    right: 65px;

    width: 10px;
    height: 120px;

    font-size: 95px;
    color: black;
    display: block;
    display: none;

}
   */
.ul-mess.show {
    display: flex;
}
.divMess::after.show {
    display: flex;
}

a.contact-mess:nth-child(1), 
a.contact-mess:nth-child(2), 
a.contact-mess:nth-child(3) {
    margin-right: 10px;
}

@media (max-width: 475px) {
    .divMess {
        bottom: 30px;
        right: 25px;
        width: 40px;
        height: 40px;
    }
}