/* Color */
:root {
  --navb-blue:  rgb(0, 242, 255);

  --navb-white: rgb(228, 230, 235);
  --navb-whiteBlack: rgb(156, 158, 163);
  --navb-trueWhite: rgb(255, 255, 255);

  --navb-black: rgb(5, 5, 5);
  --navb-blackWhite: rgb(57, 59, 57);
  --navb-black-: rgb(10, 22, 26);
  --navb-trueBlack: rgb(0, 0, 0);

  --navb-red: rgb(253, 0, 0);
  --navb-yellow: rgb(253, 169, 0);

  --navb-fontLightmode: 30px;
  --navb-fontsizeIcons: 24px;
}
  
/*_______________________________________________________________ [ navbar ] ____________________*/
header {
  height: 58px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed !important; 
  top: 0; 
  z-index: 91;

  /* border-bottom: 1px solid var(--navb-trueWhite); */
  transition: background-color .7s cubic-bezier(0.5, 0.1, 0.5, 1);
  border-bottom: 1px solid rgba(251, 251, 251, 0.353);
  background-color: var(--navb-trueBlack);
}
.light-mode header {
  /* border-bottom: 1px solid var(--navb-trueBlack); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.353);
  background-color: var(--navb-trueWhite);
}


.container {
  height: 58px;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: relative;
  width: 100vw;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
/*__________________________________ [ Home ] ____________________*/
.navbar-logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--navb-blackWhite);

  position: absolute;
  left: 10px;
  bottom: 50%;
  translate: 0 50%;
}
.light-mode .navbar-logo {
  background-color: var(--navb-white);
}
.light-mode .navbar-logo:hover {
  background-color: var(--navb-whiteBlack);
}


.link-home {
  position: relative;
}
.link-home::after {
  content: "Trang chủ";
  width: auto;
  background-color: var(--navb-trueBlack);
  color: var(--navb-yellow);
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  padding: 6px;
  /* box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
  box-shadow: rgba(89, 169, 180, 0.504) 0px 3px 8px;

  position: absolute;
  top: 50px;
  left: -10px
}
.link-home:hover::after{
  display: flex;
}
/*__________________________________ [ Menu games ] ____________________*/

.menu-game {
  display: flex;
  align-items: center;
  height: 100%;
}

.list-game {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;

  position: relative;

}
.link-games-navbar:hover {
  background-color: var(--navb-whiteBlack);
}
.light-mode .link-games-navbar:hover {
  background-color: var(--navb-whiteBlack);
}
.link-games-navbar {
  display: flex;
  align-items: center;
  height: 95%;
  padding: 0px 20px;
}

li.list-game:after {
  content: "";
  width: auto;
  background-color: var(--navb-trueBlack);
  color: var(--navb-yellow);
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  padding: 6px;
  box-shadow: rgba(89, 169, 180, 0.504) 0px 3px 8px;

  position: absolute;
  top: 67px;
  left: 0px;
}
li:nth-child(1).list-game:after {
  content: "Genshin Impact";
}
li:nth-child(2).list-game:after {
  content: "Honkai Impact 3rd";
}
li:nth-child(3).list-game:after {
  content: "Liên quân mobile";
}
li:nth-child(4).list-game:after {
  content: "Admin feeds";
}
li.list-game:hover::after{
  display: flex;
}
.link-games-navbar:hover {
  border-bottom: 4px solid var(--navb-blue);
}



.gamelogo {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

/*__________________________________ [ Menu right ] ____________________*/
.menu-right {
  display: flex;

  position: absolute;
  right: 25px;
}
.child-menu-right {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--navb-blackWhite);
}
.light-mode .child-menu-right {
  background-color: var(--navb-white);
}
.light-mode .child-menu-right:hover {
  background-color: var(--navb-whiteBlack);
}
.home,
.menu-game2,
.admin-feel {
  display: none;
}

.dark-light-mode,
.notification {
  margin-right: 10px;
}
.dark-light-mode,
.notification,
.my-information {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dark-light-mode2 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-navbar-menu-right {
  color: var(--navb-white);
  font-size: var(--navb-fontsizeIcons);
  transition: unset;
}
.icon-navbar-menu-right:hover {
  transition: .3s ease-out;
  transform: scale(1.2);
}
.light-mode .icon-navbar-menu-right {
  color: var(--navb-black);
}

.child-menu-right::after {
  content: "";
  width: auto;
  background-color: var(--navb-trueBlack);
  color: var(--navb-yellow);
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  padding: 6px;
  box-shadow: rgba(89, 169, 180, 0.504) 0px 3px 8px;

  position: absolute;
  top: 50px;
}
.child-menu-right:hover::after{
  display: flex;
}
.dark-light-mode::after {
  content: "Dark mode";
}
.light-mode .dark-light-mode::after {
  content: "Light mode";
}
.notification::after {
  content: "Thông báo";
}
.my-information::after {
  content: "Cá nhân";
}
/* _______________________________________________[ Dark/Light Button ]_________________________ */
label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.sun {
  position: absolute;
  font-size: 50px;
  filter: drop-shadow(0 0 2px rbga(0, 0, 0, 0.5));
  transform: scale(0);
  transition: .5s ease;
}
input:checked~.sun {
  transition-delay: .5s;
  transform: scale(.4) rotate(360deg);
}
.moon {
  font-size: 22px;
  color: var(--navb-white);
  filter: drop-shadow(0 0 2px rbga(0, 0, 0, 0.5));
  transition: 1s ease;
}

input:checked~.moon {
  transition-delay: 0s;
  transform: scale(0);
}
.notification,
.my-information {
  z-index: 10;
}
/* _______________________________________________[ Notification ]_________________________ */
.notification {
  position: relative;
}
.notificationExplan {
  width: 320px;
  height: 50vh;
  background-color: var(--navb-trueBlack);
  border-radius: 8px;
  border: 1px solid var(--navb-white);
  display: none;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

  position: absolute;
  top: 58px;
  right: 0px;
}
.light-mode .notificationExplan {
  background-color: var(--navb-trueWhite);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.notificationExplan.show {
  display: flex;
}
.title-thongbao {
  font-size: 20px;
  height: 30px;
  width: 88%;
  font-weight: bold;
  margin: 18px;

  color: var(--navb-trueWhite);
  border-bottom: 1px solid var(--navb-trueWhite);
}
.light-mode .title-thongbao {
  color: var(--navb-trueBlack);
  border-bottom: 1px solid var(--navb-trueBlack);
}
/* _______________________________________________[ Ca nhan ]_________________________ */
.imgMyinformation-icon {
  position: relative;
  z-index: 95;
}

.ul-canhan {
  position: absolute;
  top: 58px;
  right: 0px;

  flex-direction: column;
  width: var(--x);
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--navb-trueWhite);
  background-color: var(--navb-black);
  border-radius: 10px;
  padding: 8px;
  margin-right: 7px;
  display: none;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}

.light-mode .ul-canhan  {
  background-color: var(--navb-trueWhite);
}

.ul-canhan.show {
  display: flex;

}

.li-canhan {
  padding-left: 7px;
  border-bottom: 1px solid var(--navb-black);
  z-index: 5;
  width: 150px;

}
li.li-canhan:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: none;
}

.link-infor {
  text-decoration: none;
  color: var(--navb-trueWhite);
  
}
.light-mode .link-infor {
  color: var(--navb-trueBlack);

}
.link-infor:hover {
  color: red;
  font-weight: bold;
}
/* __________________________________[ Responsive ]____________ */
@media (max-width: 1023px) {
  .child-menu-right:hover::after{
    display: none;
  }
}
@media (max-width: 769px) {
  .link-games-navbar {
    padding: 0px 10px;
}

}
@media (max-width: 640px) {

  .navbar-logo,
  .menu-game,
  .dark-light-mode {
    display: none !important;
  }

  .menu-right {
    width: 98vw;
    display: flex;
    right: unset;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;

    position: relative;
  }

  .child-menu-right {
    width: 58px;
    height: 56px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: unset;
    border-radius: unset;
    background-color: var(--navb-trueBlack);
  }
  .child-menu-right:hover {
    border-bottom: 4px solid var(--navb-trueWhite);
  }
  .light-mode .child-menu-right {
    background-color: var(--navb-trueWhite);
  }
  .ul-list-game {
    display: none;
    list-style: none;
    background-color: var(--navb-black);
    margin: 0;
    padding: 0;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--navb-trueWhite);

    position: absolute;
    top: 61px;
    z-index: 3;
  }
  .light-mode .ul-list-game {
    background-color: var(--navb-trueWhite);
  }
  .ul-list-game.show {
    display: flex;
  }
  .ul-list-game::after {
    content: "";
    width: 60px;
    border-bottom: 5px solid var(--navb-trueWhite);
    margin: 0;
    padding: 0;

    position: absolute;
    top: -6px;
    z-index: -1;
  }
  .ul-list-game::after {
    border-bottom: 5px solid var(--navb-blue);
  }
  .li-list-game {
    padding: 7px;
    display: flex;
  }
  .link-games-menu {
    display: flex;
  }
  .icon-navbar-menu-right {
    color: var(--navb-trueWhite);
    font-size: 30px;
  }
  .home {
    border-bottom: 4px solid var(--navb-trueWhite)
  }
  .light-mode .home {
    border-bottom: 4px solid var(--navb-blue)
  }

  /* _____________________________[ Notifications]____________ */

  .notificationExplan {
    width: 90vw;
    height: 88vh;
    background-color: var(--navb-trueBlack);
    border-radius: 8px;
    display: none;
    border: 1px solid var(--trueWhite);
  
    position: absolute;
    /* top: 68px;
    right: -80px; */
    display: none;
    /* position: absolute; */
    top: 25%;
    left: 50%;
    transform: translate(-72%, 8%);
  }

  /* _____________________________[ Ca nhan++]____________ */
  .ul-canhan {
    position: absolute;
    top: 60px;
    right: -11px;
    font-size: 14px;
    width: 130px;
    height: 100vh;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--navb-trueBlack);
    border-radius: unset;

    padding: 8px;
    margin-right: 7px;
  }
  .ul-canhan.show {
    display: flex;
  }
  .light-mode .ul-canhan {
    background-color: var(--navb-trueWhite);
  }
  .li-canhan {
    border-bottom: 1px solid var(--navb-white);
    padding-bottom: 7px;
    /* margin: unset; */
    width: unset;
  }
  .light-mode .link-infor {
    color: var(--navb-trueBlack);
  }
  /* ______________________________________ [Dark-light Button 2] __________________*/
  li.li-canhan:nth-child(1) {
    display: flex;
    /* width: 100%; */
  }
  label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input{
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
  }

  .sun_ {
    position: absolute;
    font-size: 0px;
    filter: drop-shadow(0 0 2px rbga(0, 0, 0, 0.5));
    transform: scale(0);
    transition: .5s ease;
  }
  input:checked~.sun_ {
    font-size: 50px;

    transition-delay: .5s;
    transform: scale(.5) rotate(360deg);
  }
  .moon_ {
    font-size: 10;
    color: var(--navb-white);
    filter: drop-shadow(0 0 2px rbga(0, 0, 0, 0.5));
    transition: 1s ease;
  }
  
  input:checked~.moon_ {
    transition-delay: 0s;
    transform: scale(0);
    /* display: none; */
  }
  .dark-light-mode_ {
    background-color: var(--navb-whiteBlack);
    border-radius: 50%;

    width: 50px;
    height: 50px;
    margin-bottom: 7px;
  }
}


